.navbar-lewagon {
  justify-content: space-between;
  background: #023047;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  .nav-link{
    color: #fca311;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
